


/* big tablets : from 1024 to 1200px   */
@media only screen and (max-width: 1200px) {
   .hero-text-box{
    
   padding: 0 2%;
    width: 100%;
   
    
}
    
    .row{  padding: 02% }

    
}



/* small phones to small tablets : from 768 to 1024px   ex ipad landscape mode */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}
    section {padding: 60px 0;}
    
    .long-copy {
    
    width: 80%;
    margin-left: 10%;
}
    
 .steps-box{margin-top: 10px;}
    .steps-box:last-child{margin-top: 10px;}
    .works-step { margin-bottom: 40px;}

    .works-step:last-of-type { margin-bottom: 80px;}
    
    
.app-screen {
       width: 80%;
        }
    .icon-small{
        
        width: 17px;
        margin-right: 5px;
    }
    
    .plan-box{
        
        width:100%;
        margin-left: 0%;
    }
    
    .plan-price-month{
    
    font-size: 250%;
    }
    
    
    .contact-form{
    
    width: 80%;
    }
    
    .works-step div {
  
   
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;

    
}
    
}






/* small phones to small tablets : from 481 to 767px   ex ipad potriot mode mode */
@media only screen and (max-width: 767px) {
    
    body { font-size: 16px;}
    .steps-box:fast-child{
        margin-top: 10px;
    }
    .col {
	width: 100%;
        margin-bottom: 4%;
} 
    
    .row ,.hero-text-box{padding:0 4%;}
    .main-nav{display: none;}
    h1 {font-size: 180%;}
     h1 {font-size: 150%;}
    
    .long-copy{
        width: 100%;
        margin-right: 0%;
        
    }
    
    .works-step{ margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}
}



/* small phones: from 0 to 480px   ex old iphones  5,5s */

@media only screen and (max-width:480px){
        section { padding: 25px 0; }
    .contact-form {width: 100%; }
 .app-screen {
       width: 80%;
     margin-right: 10%;
}
}

    
    
